.DS_Store
DerivedData/
.derived/
.signed-derived/
.build/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM
*.provisionprofile
*.mobileprovision
*.cer
*.p12
.env
